form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

label {
  font-weight: bold;
}

select, button {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border: none;
}

.Toastify__close-button {
  width: 10%;
}
